
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaisei Opti', sans-serif;
}


body {
    background: #D88C7F;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9F7F7;
    font-size: medium;
    text-decoration: none;
    background: #DA3D53;
    padding: 10px;
    font-weight: bold; 
}

.navbar li {
    text-decoration: none;
    color: #323148;
    font-weight: 600;
    padding: 10px;
    transition: color 0.3s;
    font-size: medium;
}

.navbar li:hover {
    color: #F9F7F7;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-box h2.name {
    background: #DA3D53;
    color: #C9888D;
    padding: 10px;
    font-weight: bold; 
    font-size: medium;
}

.content-box p {
    font-size: small;
    line-height: 1.5;
    color: #323148;
    font-weight: 600;
    margin-bottom: 28px;
}

.content-box a {
    text-decoration: none;
    background: #D88C7F;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 30px;
    letter-spacing: 2px;
    transition: background 0.3s, color 0.3s; 
}

.content-box a:hover {
    background: #323148;
    color: #DA3D53;
}
